body {
    background-image: url('images/back.jpeg');
    background-size: cover;
    background-position: center;
}

nav {
    background-color: #FDFEFF;
}
.lest
{
    width: 80%;
}
.fa
{
    width: 80%;
}
.custom-button {
    background-color: #feb417;
    color: black;
}

.table-bordered th{ 
    border: 2px solid #ffffff; 
}
.table-bordered td {
    border: 2px solid #cbcbcb; 
}
.table-bordered {
    border-collapse: collapse; 
}
.text-center {
    text-align: center;
    color: #373737;
}
.custom-table {
    width: 80%;
    margin: 0 auto;
}
.table-header {
    background-color: #5B6E74;
    color: white;
}
.table-row {
    background-color: #ffffff;
}
.alt-row {
    background-color: #e5e5e5;
}

footer {
    background: #474A4F;
}

.btn-primary, .btn-success {
    background-color: #5B6E74;
    border-color: #5B6E74;
}

.calc{
    width: 80%;
}

.container {
    width: 100%;
    max-width: 1980px;
    margin: 0 auto;
}
.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slick-prev:before, .slick-next:before {
    color: black !important;
}

* {
    box-sizing: border-box; 
}

@media(max-width: 768px){
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    table{
        order: 1;
    }
    .calc{
        order: 2;
        width: 100%;
    }
    .lest {
        order: 3;
        width: 100%; 
    }
    .fa{
        order: 4;
        width: 100%; 
    }
    footer{
        order: 5;
        width: 100%; 
    }
    header{
        width: 100%;
    }
    .inheader img{
        width: 35%;
    }
}